<!DOCTYPE html><html><head><meta charset=utf-8><meta name=format-detection content="telephone=no"><meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,height=device-height"><meta name=apple-mobile-web-app-capable content=yes><meta name=mobile-web-app-capable content=yes><title>自由集市</title><script src=static/libs/lokijs.min.js></script><script src=static/libs/loki-indexed-adapter.min.js></script><script src=/socket.io/socket.io.js></script><link href=/static/css/app.c9fceb2db7eae527a0b532e49ebee3df.css rel=stylesheet></head><body style="background-color: transparent;"><script type=text/javascript>window.wi = {
              openid: "{{openid}}",
              nickname: "{{nickname}}",
              sex: "{{sex}}",
              language: "{{ language }}",
              city: "{{ city }}",
              province: "{{ province }}",
              country: "{{ country }}",
              headimgurl: "{{ headimgurl }}"
          };</script><div id=app></div><script type=text/javascript src=/static/js/manifest.ea24187ac875387aba97.js></script><script type=text/javascript src=/static/js/vendor.47d6e37f7b253a56b002.js></script><script type=text/javascript src=/static/js/app.d47f056f870342ee6d9e.js></script></body></html>