<!DOCTYPE html><html><head><meta charset=utf-8><meta name=format-detection content="telephone=no"><meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,height=device-height"><meta name=apple-mobile-web-app-capable content=yes><meta name=mobile-web-app-capable content=yes><title>自由集市</title><script src=static/libs/lokijs.min.js></script><script src=static/libs/loki-indexed-adapter.min.js></script><script src=/socket.io/socket.io.js></script><link href=/static/css/app.5d152671e4afa8fa26438487de68dc22.css rel=stylesheet></head><body style="background-color: transparent"><script type=text/javascript>window.wi = {
              openid: "{{openid}}",
              nickname: "{{nickname}}",
              sex: "{{sex}}",
              language: "{{ language }}",
              city: "{{ city }}",
              province: "{{ province }}",
              country: "{{ country }}",
              headimgurl: "{{ headimgurl }}"
          };</script><div id=app></div><script type=text/javascript src=/static/js/manifest.1a9e642d4174d29393d7.js></script><script type=text/javascript src=/static/js/vendor.fe222495a7f936049799.js></script><script type=text/javascript src=/static/js/app.aef844cd2fe17f1b9fdd.js></script></body></html>