<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"
    />

    <link rel="stylesheet" href="libs/phonon.min.css" />
    <script src="libs/qrious.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>扫码登录</title>
    <style>
        #qr-code {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <home data-page="true">
        <header class="header-bar">
            <div class="center">
                <h1 class="title">请用微信或支付宝扫码登录</h1>
            </div>
        </header>
        <div class="content">
            <canvas id="qr-code"></canvas>
        </div>
    </home>
    <!-- scripts -->
    <script src="libs/phonon.min.js"></script>
    <!-- our app config -->
    <script>
        var socket = io('/io_login');
        socket.on("connect", function (data) {
            socket.emit('reg_login_cli', {
                token:"{{token}}"
            });
        });
        phonon.options({
            navigator: {
                defaultPage: 'home'
            },
            i18n: null // for this example, we do not use internationalization
        });
        var app = phonon.navigator();
        app.on({ page: 'home', preventClose: false, content: null }, function (activity) {
            activity.onCreate(function () { });
            activity.onReady(function () {
                var qr = new QRious({
                    size: 200,
                    background: '#fff',
                    foreground: '#284a9f',
                    element: document.getElementById('qr-code'),
                    value: "{{ qr_code }}"
                });
            });
            activity.onTransitionEnd(function () { });
            // activity.onClose(function(self) {}); // use it only if preventClose is true with self.close();
            activity.onHidden(function () { });
            activity.onHashChanged(function (req1, req2) { });
            activity.onTabChanged(function () { });
        });
    </script>
</body>

</html>